:host ::ng-deep .filter-customer { width: 220px; }
:host ::ng-deep .filter-date { width: 170px; }
.text-right { text-align: right; }

@media (max-width: 640px) {
  :host ::ng-deep .filter-customer, :host ::ng-deep .filter-date { width: 100%; }
}
