.quote-value { font-size: 1.125rem; }
.quote-none { font-weight: 600; display: flex; gap: .5rem; align-items: center; }

.radio-row {
  display: flex; align-items: center; gap: .5rem; margin-bottom: .5rem; flex-wrap: wrap;
  label { font-size: .875rem; cursor: pointer; }
}

:host ::ng-deep .p-select.currency { min-width: 12rem; }
